<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-content>
      <div>Account No: {{user.phoneNumber}}</div>
    </mat-card-content>

    <mat-card-content>
      <div>Name: {{user.userName}}</div>
    </mat-card-content>

    <mat-card-content>
      <div>User Type: {{user.userType}}</div>
    </mat-card-content>

    <mat-card-content>
      <div>NID: {{user.nid}}</div>
    </mat-card-content>

    <mat-card-content>
      <div>Date of Birth: {{user.dob}}</div>
    </mat-card-content>

    <mat-card-content>
      <div>Address: {{user.presAddress}}</div>
    </mat-card-content>
  </mat-card>

</div>
